%div{"ng-show" => "graph_bl_secret != system_secret"}
  .col-xs-12.form-group
    %input.form-control{type: 'text', "ng-model" => "graph_bl_secret", placeholder: "Senha de acesso"}
%div{"ng-show" => "graph_bl_secret == system_secret"}
  .col-xs-12
    %h1.text-center.form-group
      %strong= "Lista de sugestões para a malha cicloviária de Joinville"
    %table.table.table-fixed
      %thead
        %tr
          %th= "Nome"
          %th= "Email"
          %th= "Telefone"
          %th= "Grupo / movimento"
          %th= "Sugestão"
          %th
      %tbody{"ng-repeat" => "suggestion in suggestions"}
        %tr
          %td {{suggestion.name}}
          %td {{suggestion.email}}
          %td {{suggestion.phone}}
          %td {{suggestion.group}}
          %td {{suggestion.suggestion}}
          %td
            %a.btn.btn-danger{"ng-click" => "destroySuggestion(suggestion, $index)"}
              = "Deletar"
