%h2.text-center{style: "margin-top: 0px"}
  %strong= "Sugestões para a malha cicloviária de Joinville"
.col-xs-8
  .row.form-group
    .col-xs-12.text-center
      #mapOnlyRead
.col-xs-4
  %h4= "No mapa ao lado esta destacada a malha cicloviária de Joinville composta por ciclovias, ciclo-faixas e ciclo-rotas."
  %h4= "Em vermelho esta destacada a malha cicloviária planejada enquanto que em azul esta destacada a malha cicloviária existente."
  %br
  %div.text-center{"ng-show" => "!contribuir"}
    %h3= "Gostaria de contribuir para o planejamento cicloviário de Joinville?"
    %button.btn.btn-primary.btn-lg{"ng-click" => "contribuir = true"}
      = "Sim, quero contribuir"
  %div{"ng-show" => "contribuir"}
    %h4.text-center= "Envie sugestões para o plano cicloviário"
    .col-xs-12.form-group
      %input.form-control{type: 'text', "ng-model" => "suggestion.name", placeholder: "Nome"}
    .col-xs-12.form-group
      %input.form-control{type: 'text', "ng-model" => "suggestion.email", placeholder: "Email"}
    .col-xs-12.form-group
      %input.form-control{type: 'text', "ng-model" => "suggestion.phone", placeholder: "Telefone"}
    .col-xs-12.form-group
      %input.form-control{type: 'text', "ng-model" => "suggestion.group", placeholder: "Grupo / movimento"}
    .col-xs-12.form-group
      %textarea{rows: "8", cols: "42", "ng-model" => "suggestion.suggestion", placeholder: "Sugestão"}
    .col-xs-12.form-group
      %a.btn.btn-primary.btn-lg{"ng-click" => "saveSuggestion()", "ng-disabled" => "!suggestion.suggestion"}
        = "Enviar"
