- prefix = Rails.env.production? ? "app" : "teste"
%html{"ng-app" => "graph_bl"}
  %head
    %base{href: "/#{prefix}/", target: "_blank"}
    %title="GraphBL"
    %link{rel: "stylesheet", media: "all", href: "/#{prefix}/#{prefix}/assets/application.css"}
    %script{src: "/#{prefix}/#{prefix}/assets/application.js"}
    = csrf_meta_tags
  %body
    .row{"ng-view" => ""}
      = yield
    .row.text-center
      = image_tag("ippuj.png", class: "panel", size: "150x50")
      = image_tag("udesc.png", class: "panel", size: "250x50")
